<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CompService</title>
     <link rel="stylesheet" th:href="@{css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{css/styles.css}" />

</head>
<body>
<h1 class="header">Welcome to CompService</h1>
<img th:src="@{/images/service.png}" class="image"/>

<div class="btn-home">
        <a class="btn btn-outline-dark" type="button" th:href="@{/security}">Enter</a>
</div>

</body>
</html>